<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>LR</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/angular.js/1.6.5/angular.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div ng-app="lr_app" ng-controller="lr_controller">
        <br>
        <div class="row">
            <div class="col-md-offset-1 col-md-5">
            <div class="panel panel-default">
                <!-- panel head -->
                <div class="panel-heading">
                    <h3 class="panel-title">Grammar</h3>
                </div>
                <!-- panel body-->
                <div class="panel-body">
                    <div class="col-md-12">
                        <form role="form" action="confirm_grammar" method="post">
                            <div class="form-group">
                                <!-- grammar input-->
                                <textarea class="form-control" name="grammar_string" id="grammar_string" rows="10">
                                    {a grammar_string a}
                                </textarea>
                                <!-- grammar name-->
                                <label>Grammar Type</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="grammar_name" id="LR0" value="LR0">
                                        LR0
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="grammar_name" id="SLR" value="SLR">
                                        SLR
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="grammar_name" id="LR1" value="LR1">
                                        LR1
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Input String</label>
                                <input type="text" class="form-control" name="input_string" placeholder="" value="">
                            </div>
                            <!-- submit button-->
                            <button type="submit" class="btn btn-default">Confirm</button>
                        </form>
                    </div>
                </div>
            </div><!-- ./panel -->
            </div>
            <div class="col-md-offset-1 col-md-5">
            <div class="panel panel-default">
                <!-- panel head -->
                <div class="panel-heading">
                    <h3 class="panel-title">Analysis Stack</h3>
                </div>
                <!-- panel body-->
                <div class="panel-body">
                    <table class="table table-bordered">
                        <th ng-repeat="h in analysis_stack_head">{a h a}</th>
                        <tr ng-repeat="set in analysis_stack">
                            <td ng-bind="$index"></td>
                            <td ng-repeat="s in set">{a s a}</td>
                        </tr>
                    </table>
                </div>
            </div>
            </div>
        </div><!-- ./row -->

        <div class="row">
            <div class="col-md-offset-1 col-md-5">
            <div class="panel panel-default">
                <!-- panel head -->
                <div class="panel-heading">
                    <h3 class="panel-title">Project Set</h3>
                </div>
                <!-- panel body-->
                <div class="panel-body">
                    <table class="table table-bordered">
                        <tr ng-repeat="set in project_set">
                            <td ng-bind="$index"></td>
                            <td ng-repeat="s in set">{a s a}</td>
                        </tr>
                    </table>
                </div>
            </div>
            </div><!-- ./project set -->
            <div class="col-md-offset-1 col-md-5">
            <div class="panel panel-default">
                <!-- panel head -->
                <div class="panel-heading">
                    <h3 class="panel-title">Analysis Table</h3>
                </div>
                <!-- panel body-->
                <div class="panel-body">
                    <table class="table table-bordered">
                        <th ng-repeat="h in analysis_table_head">{a h a}</th>
                        <tr ng-repeat="row in analysis_table">
                            <td ng-bind="$index"></td>
                            <td ng-repeat="r in row track by $index">{a r a}</td>
                        </tr>
                    </table>
                </div>
            </div>
            </div><!-- ./analysis table -->
        </div><!-- ./row -->
	</div><!-- ./lr-app -->
</body>

<script>
    var app = angular.module("lr_app", []);
    app.config(['$interpolateProvider', function($interpolateProvider) {
		$interpolateProvider.startSymbol('{a');
		$interpolateProvider.endSymbol('a}');
	}]);
    app.controller("lr_controller", function($scope){
        $scope.project_set = {{ project_set | safe }};
        $scope.terminal = {{ terminal | safe }};
        $scope.nonterminal = {{ nonterminal | safe }};
        $scope.analysis_table = {{ analysis_table | safe }};
        $scope.analysis_table_head = ["State"].concat($scope.terminal, ['#'], $scope.nonterminal);
        $scope.analysis_stack = {{ analysis_stack | safe }};
        $scope.analysis_stack_head = ["Step", "State", "Characters", "Input String"];
        $scope.grammar_string = {{ grammar_string | safe}};
{#        var grammar_string_temp = "";#}
{#        for(var i in $scope.grammar_string) {#}
{#            grammar_string_temp += $scope.grammar_string[i]+'\n';#}
{#        }#}
        $scope.grammar_string = $scope.grammar_string.join("\n");
        $scope.grammar_name = {{ grammar_name }};
        $scope.collision = "{{ collision }}";
        if($scope.collision === "True")
            alert("Collision in Grammar");
        if($scope.grammar_name === 'LR0')
            $("input[name='grammar_name'][value='LR0']").attr("checked", true);
        else if($scope.grammar_name === 'SLR')
            $("input[name='grammar_name'][value='SLR']").attr("checked", true);
        else if($scope.grammar_name === 'LR1')
            $("input[name='grammar_name'][value='LR1']").attr("checked", true);
    });
</script>

</body>
</html>